<form name="quickPostArticle" role="form" ng-submit="submitForm()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="url" ng-model="title" class="form-control" id="title" placeholder="Titl" required >
  </div>

  <div class="form-group">
    <label for="body">Description</label>
    <input type="textarea" ng-model="body" class="form-control" id="body" placeholder="Enter some text..." required>
  </div>

  <button type="submit" class="btn btn-default">Post</button>
</form>
