<small><a ng-href="{{post.self}}" target="_blank">See the content on the server</a>. Click on title and body to inline edit.</small>

<div class="form-group article-edit">
  <div class="editable-wrapper">
    <a editable-text="post.label" onbeforesave="updateArticle($data, 'label')">{{ post.label }}</a>
    <div class="errors">
      <ul ng-show="errors.label">
        <li ng-repeat="error in errors.label">{{error}}</li>
      </ul>
    </div>
  </div>

  <div class="editable-wrapper">
    <a ng-bind-html="post.body" editable-textangular="post.body" onbeforesave="updateArticle($data, 'body')">{{ post.body }}</a>
    <div class="errors">
      <ul ng-show="errors.body">
        <li ng-repeat="error in errors.body">{{error}}</li>
      </ul>
    </div>
  </div>

</div>