<div class="row marketing">

  <form ng-hide="authenticated" role="form" ng-submit="submitAuthenticationForm()">
    <div class="form-group">
      <label for="backend-url">Backend URL</label>
      <input type="url" ng-model="authenticationData.backendUrl" class="form-control" id="backend-url" placeholder="Backend URL" required >
      <div class="description">Create a sandbox on <a href="http://simplytest.me" target="_blank">SimplyTest.me</a> and copy the URL here.</div>
    </div>

    <div class="form-group">
      <label for="user-name">Username</label>
      <input type="text" ng-model="authenticationData.name" class="form-control" id="user-name" placeholder="Username" required>
    </div>

    <div class="form-group">
      <label for="user-password">Password</label>
      <input type="password" ng-model="authenticationData.pass" class="form-control" id="user-password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div ng-show="authenticated">

    <quick-post-article ng-hide="post.id" post="post" on-submit="createArticle"></quick-post-article>

    <inline-edit-article ng-show="post.id" post="post"></inline-edit-article>


  </div>

</div>
